@charset "utf-8";


.ttl_box {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Just Me Again Down Here", cursive;
    font-size: 30px;
}

.ttl_box span {
    display: inline-block;
}

.ttl_box .ttl {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
}

.ttl_box .sb-ttl {
    font-size: 1.0rem;
}

.sb_ttl {
    text-align: center;
    font-size: 10px;
    /* margin-bottom: 13px; */
}

p {
    font-size: 10px;
    text-align: center;
    margin: 15px;
}

/* スライド写真 */

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    magin-top: 30px;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 80s infinite linear 0.5s both;
}

.scroll-infinity__item {
    width: calc(100vw / 6);
    
}

.scroll-infinity__item>img {
    width: 100%;
}


.example1 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example1::before,
.example1::after {
    width: 2px;
    height: 20px;
    background-color: #aa8667;
    content: '';
}

.example1::before {
    transform: rotate(-35deg);
    margin-right: 30px;
}

.example1::after {
    transform: rotate(35deg);
    margin-left: 30px;
}

/* 横に揺れるアニメーション */
@keyframes sway {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.example1 {
    animation: sway 2s infinite ease-in-out;
}


.example2 {
    font-size: 10px;
    display: inline-block;
    border: solid 1px #ce7777;
    border-radius: 10px;
    margin: 10px 50px 80px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------- */
/* pc */
@media(width>=1060px) {
    .ttl_box {
        text-align: center;
        /* margin-top: 50px; */
        font-size: 50px;
        font-family: "Just Me Again Down Here", cursive;
    }

    .sb_ttl {
        text-align: center;
        font-size: 13px;
        /* margin-bottom: 30px; */
    }

    p {
        font-size: 20px;
        text-align: center;
        margin: 30px;
    }

    .example1 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .example1::before,
    .example1::after {
        width: 2px;
        height: 20px;
        background-color: #aa8667;
        content: '';
    }

    .example1::before {
        transform: rotate(-35deg);
        margin-right: 30px;
    }

    .example1::after {
        transform: rotate(35deg);
        margin-left: 30px;
    }

    /* 横に揺れるアニメーション */
    @keyframes sway {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-5px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /* スライド写真 */

    @keyframes infinity-scroll-left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .scroll-infinity__wrap {
        display: flex;
        overflow: hidden;
        magin-top: 30px;
    }

    .scroll-infinity__list {
        display: flex;
        list-style: none;
        padding: 0
    }

    .scroll-infinity__list--left {
        animation: infinity-scroll-left 80s infinite linear 0.5s both;
    }

    .scroll-infinity__item {
        width: calc(100vw / 6);
    }

    .scroll-infinity__item>img {
        width: 100%;
    }


    .example1 {
        animation: sway 2s infinite ease-in-out;
    }

    .example2 {
        font-size: 17px;
        display: inline-block;
        border: solid 1px #ce7777;
        border-radius: 10px;
        margin: 10px 50px 120px;
        padding: 5px 10px 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
